# Node.js
node_modules/

# dotenv environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Debugging
.vscode/
node_modules/

# Dependencies
package-lock.json
yarn.lock

# Optional eslint cache directory
.eslintcache/


# temp folder content
tmp/*

# exception to folder
!tmp/.gitkeep