@import './main.scss';

$back-color: $danger;
$back-color-hover: $danger;

.navbar {
  @extend .shadow-sm;
  background-color: darken($danger, 10%);
}

.titleContainer {
  @extend .py-5;
}

.title {
  @extend .mb-2;
  background-color: $white;
}

.back {
  @extend .mb-4;
  text-decoration: none;
  color: $back-color;
  &:hover {
    color: darken($back-color-hover, 10%);
  }
}

.mainContainer {
  @extend .py-5;
  background-color: $gray-200;
  min-height: 80vh;
}
